h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hsl(0, 0%, 83%);
}
ul {
    list-style: none;
    text-align: center;
}
li{
    display: inline;
    color: lightgray;
    text-decoration: none;
    padding-right: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header {
    background-color: hsl(17, 20%, 30%);
}