td {
	border: 1px solid black;
    display:flexbox;
    width: 20%;
    text-align: center;
    margin-right: 0px;
    font-size: large;
    color: hsl(0, 0, 83%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
thead {
    background-color: hsl(34, 57%, 30%);
    color: hsl(0, 0, 83%);
}

tr:nth-child(even) {
    background-color: hsl(34, 57%, 60%);
}
tr:nth-child(odd) {
    background-color: hsl(34, 57%, 50%);
}