<div *ngIf="editions">
   <!-- This is a table where admin can see books that visitors add-->
    <table>
        <thead><td>Title</td><td>Author</td><td>Checked Out</td></thead>
        <tr *ngFor="let edition of editions">
            <td>{{edition.bookTitle}}</td>
            <td> By: {{edition.authorName}}</td>
            <td><input type="checkbox" [(ngModel)]="edition.available"></td>
        </tr>
    </table>
</div>
    <section>
    <!--If book is in library admin can find book on GoogleBooks and add to library list-->
        <h2>Looking for a Book!</h2>
    Search String: {{ book }}
    <input [(ngModel)]="book" type= "text" placeholder="Book Title">
    <input (click)="findBook(book)" type="submit" value="Search">
    <input (click)="addGBBook(title, description, image, googleId, author)" type="submit" value="add">
</section>
<section *ngIf="info">
     <img src="{{image}}">
     <p>{{googleId}}</p>
    <h3>Here is the first result from your search: {{title}} By {{author}}</h3>
    <p>{{description}}</p>
   
</section>
