td {
	border: 1px solid black;
    display:flexbox;
    width: 20%;
    text-align: center;
    margin-right: 0px;
    font-size: large;
}
thead {
    background-color: burlywood;
}
tr:nth-child(even) {
    background-color: cornsilk;
}
tr:nth-child(odd) {
    background-color: bisque;
}